@model WPCasusVictuz.Models.Poll

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Poll</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Options)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => string.Join(", ", Model.Options))  <!-- Display options as a comma-separated string -->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy.Name)  <!-- Display name of the BoardMember who created the poll -->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy.Name)  <!-- Show BoardMember's name -->
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
