@model IEnumerable<WPCasusVictuz.Models.Registration>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date of registration
            </th>
            <th>
                Participant name
            </th>
            <th>
                Activity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktivity.Name)
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.Id">Inschrijven ||</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Uitschrijven</a>
            </td>
        </tr>
}
    </tbody>
</table>
