@model IEnumerable<WPCasusVictuz.Models.Aktivity>

@{
    ViewData["Title"] = "Activiteiten overzicht";
}

<h1>Overzicht activiteiten</h1>

<!-- Zoekformulier -->
<form asp-controller="Aktivities" asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchTerm" class="form-control" placeholder="Zoek activiteiten..." />
        <button type="submit" class="btn btn-primary mt-2">Zoeken</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Naam activiteit</th>
            <th>Datum & Starttijd</th>
            <th>Waar</th>
            <th>Beschrijving</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @if (item.Date.HasValue)
                    {
                        @item.Date.Value.ToString()
                    }
                    else
                    {
                        <text>Geen datum ingevoerd</text> 
                    }
                </td>
                <td>@item.Location</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
