@model IEnumerable<WPCasusVictuz.Models.Aktivity>

@{
    ViewData["Title"] = "Activities";
}

<h1>Activities</h1>

<!-- Zoekformulier -->
<form asp-controller="Aktivities" asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchTerm" class="form-control" placeholder="Zoek op activiteiten..." />
        <button type="submit" class="btn btn-primary mt-2">Zoeken</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @if (item.Date.HasValue)
                    {
                        @item.Date.Value.ToShortDateString()
                    }
                    else
                    {
                        <text>N/A</text> <!-- Of wat je ook wilt weergeven als de datum null is -->
                    }
                </td>
                <td>@item.Location</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
