@model IEnumerable<WPCasusVictuz.Models.Member>

@{
    ViewData["Title"] = "Indexering leden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alle leden</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Naam lid
            </th>
            <th>
                Email lid
            </th>
            <th>
                Bestuurslid
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    @if (item.BoardMemberId.HasValue)
                    {
                        <span>Ja</span>
                    }
                    else
                    {
                        <span>Nee</span>
                    }
                </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Wijzig lid</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details lid</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijder lid</a>
            </td>
        </tr>
}
    </tbody>
</table>
